In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from FAA import Ohare
from FAA import Hanger
import pandas as pd

faa = Ohare.Ohare(table_name='no_write', sql=True\
                  , sql_user='ubuntu', host_name='18.188.180.59')
db = faa.get_modeling_df()
db

,Quarter,Month,DayOfWeek,Reporting_Airline,Dest,DepTime,DepDelay,Distance,awnd,prcp,snow,snwd,tavg,AA,LAS
0,1,1,7,AA,LAS,1707.0,2.0,1514.0,4.92,0.00,0.0,0.0,27,1,1
1,1,1,1,AA,LAS,1705.0,0.0,1514.0,6.26,0.11,0.0,0.0,34,1,1
2,1,1,2,AA,LAS,1727.0,22.0,1514.0,10.07,0.00,0.0,0.0,38,1,1
3,1,1,3,AA,LAS,1727.0,22.0,1514.0,17.00,0.00,0.0,0.0,18,1,1
4,1,1,4,AA,LAS,1703.0,-2.0,1514.0,12.75,0.00,0.0,0.0,9,1,1
5,1,1,5,AA,LAS,1701.0,-4.0,1514.0,10.07,0.00,0.0,0.0,4,1,1
6,1,1,6,AA,LAS,1954.0,89.0,1514.0,10.74,0.00,0.0,0.0,6,1,1
7,1,1,7,AA,LAS,1703.0,-2.0,1514.0,9.62,0.00,0.0,0.0,9,1,1
8,1,1,1,AA,LAS,1718.0,13.0,1514.0,12.97,0.02,0.2,0.0,22,1,1
9,1,1,2,AA,LAS,1903.0,118.0,1514.0,23.26,0.20,0.0,0.0,38,1,1

In [3]:
pd.concat([db, pd.get_dummies(db.Reporting_Airline)], axis=1)

,Quarter,Month,DayOfWeek,FlightDate,Reporting_Airline,Flight_Number_Reporting_Airline,Origin,Dest,DestStateName,DepTime,...,DepDelayMinutes,DepDel15,Distance,awnd,pgtm,prcp,snow,snwd,tavg,AA
0,1,1,7,2017-01-01,AA,25,ORD,LAS,Nevada,1707.0,...,2.0,0.0,1514.0,4.92,None,0.00,0.0,0.0,27,1
1,1,1,1,2017-01-02,AA,25,ORD,LAS,Nevada,1705.0,...,0.0,0.0,1514.0,6.26,None,0.11,0.0,0.0,34,1
2,1,1,2,2017-01-03,AA,25,ORD,LAS,Nevada,1727.0,...,22.0,1.0,1514.0,10.07,None,0.00,0.0,0.0,38,1
3,1,1,3,2017-01-04,AA,25,ORD,LAS,Nevada,1727.0,...,22.0,1.0,1514.0,17.00,None,0.00,0.0,0.0,18,1
4,1,1,4,2017-01-05,AA,25,ORD,LAS,Nevada,1703.0,...,0.0,0.0,1514.0,12.75,None,0.00,0.0,0.0,9,1
5,1,1,5,2017-01-06,AA,25,ORD,LAS,Nevada,1701.0,...,0.0,0.0,1514.0,10.07,None,0.00,0.0,0.0,4,1
6,1,1,6,2017-01-07,AA,25,ORD,LAS,Nevada,1954.0,...,89.0,1.0,1514.0,10.74,None,0.00,0.0,0.0,6,1
7,1,1,7,2017-01-08,AA,25,ORD,LAS,Nevada,1703.0,...,0.0,0.0,1514.0,9.62,None,0.00,0.0,0.0,9,1
8,1,1,1,2017-01-09,AA,25,ORD,LAS,Nevada,1718.0,...,13.0,0.0,1514.0,12.97,None,0.02,0.2,0.0,22,1
9,1,1,2,2017-01-10,AA,25,ORD,LAS,Nevada,1903.0,...,118.0,1.0,1514.0,23.26,None,0.20,0.0,0.0,38,1

In [5]:
pd.get_dummies(db.Reporting_Airline)

   AA
0   1
1   1
2   1
3   1
4   1
5   1
6   1
7   1
8   1
9   1

In [2]:
faa.append_dummies(db, db.Reporting_Airline)

,Quarter,Month,DayOfWeek,FlightDate,Reporting_Airline,Flight_Number_Reporting_Airline,Origin,Dest,DestStateName,DepTime,...,DepDelayMinutes,DepDel15,Distance,awnd,pgtm,prcp,snow,snwd,tavg,AA
0,1,1,7,2017-01-01,AA,25,ORD,LAS,Nevada,1707.0,...,2.0,0.0,1514.0,4.92,None,0.00,0.0,0.0,27,1
1,1,1,1,2017-01-02,AA,25,ORD,LAS,Nevada,1705.0,...,0.0,0.0,1514.0,6.26,None,0.11,0.0,0.0,34,1
2,1,1,2,2017-01-03,AA,25,ORD,LAS,Nevada,1727.0,...,22.0,1.0,1514.0,10.07,None,0.00,0.0,0.0,38,1
3,1,1,3,2017-01-04,AA,25,ORD,LAS,Nevada,1727.0,...,22.0,1.0,1514.0,17.00,None,0.00,0.0,0.0,18,1
4,1,1,4,2017-01-05,AA,25,ORD,LAS,Nevada,1703.0,...,0.0,0.0,1514.0,12.75,None,0.00,0.0,0.0,9,1
5,1,1,5,2017-01-06,AA,25,ORD,LAS,Nevada,1701.0,...,0.0,0.0,1514.0,10.07,None,0.00,0.0,0.0,4,1
6,1,1,6,2017-01-07,AA,25,ORD,LAS,Nevada,1954.0,...,89.0,1.0,1514.0,10.74,None,0.00,0.0,0.0,6,1
7,1,1,7,2017-01-08,AA,25,ORD,LAS,Nevada,1703.0,...,0.0,0.0,1514.0,9.62,None,0.00,0.0,0.0,9,1
8,1,1,1,2017-01-09,AA,25,ORD,LAS,Nevada,1718.0,...,13.0,0.0,1514.0,12.97,None,0.02,0.2,0.0,22,1
9,1,1,2,2017-01-10,AA,25,ORD,LAS,Nevada,1903.0,...,118.0,1.0,1514.0,23.26,None,0.20,0.0,0.0,38,1

In [2]:
faa.get_modeling_df()

,Quarter,Month,DayOfWeek,FlightDate,Reporting_Airline,Flight_Number_Reporting_Airline,Origin,Dest,DestStateName,DepTime,...,DepDelayMinutes,DepDel15,Distance,awnd,pgtm,prcp,snow,snwd,tavg,AA
0,1,1,7,2017-01-01,AA,25,ORD,LAS,Nevada,1707.0,...,2.0,0.0,1514.0,4.92,None,0.00,0.0,0.0,27,1
1,1,1,1,2017-01-02,AA,25,ORD,LAS,Nevada,1705.0,...,0.0,0.0,1514.0,6.26,None,0.11,0.0,0.0,34,1
2,1,1,2,2017-01-03,AA,25,ORD,LAS,Nevada,1727.0,...,22.0,1.0,1514.0,10.07,None,0.00,0.0,0.0,38,1
3,1,1,3,2017-01-04,AA,25,ORD,LAS,Nevada,1727.0,...,22.0,1.0,1514.0,17.00,None,0.00,0.0,0.0,18,1
4,1,1,4,2017-01-05,AA,25,ORD,LAS,Nevada,1703.0,...,0.0,0.0,1514.0,12.75,None,0.00,0.0,0.0,9,1
5,1,1,5,2017-01-06,AA,25,ORD,LAS,Nevada,1701.0,...,0.0,0.0,1514.0,10.07,None,0.00,0.0,0.0,4,1
6,1,1,6,2017-01-07,AA,25,ORD,LAS,Nevada,1954.0,...,89.0,1.0,1514.0,10.74,None,0.00,0.0,0.0,6,1
7,1,1,7,2017-01-08,AA,25,ORD,LAS,Nevada,1703.0,...,0.0,0.0,1514.0,9.62,None,0.00,0.0,0.0,9,1
8,1,1,1,2017-01-09,AA,25,ORD,LAS,Nevada,1718.0,...,13.0,0.0,1514.0,12.97,None,0.02,0.2,0.0,22,1
9,1,1,2,2017-01-10,AA,25,ORD,LAS,Nevada,1903.0,...,118.0,1.0,1514.0,23.26,None,0.20,0.0,0.0,38,1

In [3]:
faa.get_modeling_df().columns.tolist()

['Quarter',
 'Month',
 'DayOfWeek',
 'FlightDate',
 'Reporting_Airline',
 'Flight_Number_Reporting_Airline',
 'Origin',
 'Dest',
 'DestStateName',
 'DepTime',
 'DepDelay',
 'DepDelayMinutes',
 'DepDel15',
 'Distance',
 'awnd',
 'pgtm',
 'prcp',
 'snow',
 'snwd',
 'tavg',
 'AA']

In [4]:
db.iloc[:,7:]

,Dest,DestStateName,DepTime,DepDelay,DepDelayMinutes,DepDel15,Distance,awnd,pgtm,prcp,snow,snwd,tavg,AA
0,LAS,Nevada,1707.0,2.0,2.0,0.0,1514.0,4.92,None,0.00,0.0,0.0,27,1
1,LAS,Nevada,1705.0,0.0,0.0,0.0,1514.0,6.26,None,0.11,0.0,0.0,34,1
2,LAS,Nevada,1727.0,22.0,22.0,1.0,1514.0,10.07,None,0.00,0.0,0.0,38,1
3,LAS,Nevada,1727.0,22.0,22.0,1.0,1514.0,17.00,None,0.00,0.0,0.0,18,1
4,LAS,Nevada,1703.0,-2.0,0.0,0.0,1514.0,12.75,None,0.00,0.0,0.0,9,1
5,LAS,Nevada,1701.0,-4.0,0.0,0.0,1514.0,10.07,None,0.00,0.0,0.0,4,1
6,LAS,Nevada,1954.0,89.0,89.0,1.0,1514.0,10.74,None,0.00,0.0,0.0,6,1
7,LAS,Nevada,1703.0,-2.0,0.0,0.0,1514.0,9.62,None,0.00,0.0,0.0,9,1
8,LAS,Nevada,1718.0,13.0,13.0,0.0,1514.0,12.97,None,0.02,0.2,0.0,22,1
9,LAS,Nevada,1903.0,118.0,118.0,1.0,1514.0,23.26,None,0.20,0.0,0.0,38,1

In [5]:
db.drop(columns=['DepDel15', 'Flight_Number_Reporting_Airline', 'Origin'\
                ,'DestStateName', 'DepDelayMinutes', 'pgtm'])

,Quarter,Month,DayOfWeek,FlightDate,Reporting_Airline,Dest,DepTime,DepDelay,Distance,awnd,prcp,snow,snwd,tavg,AA
0,1,1,7,2017-01-01,AA,LAS,1707.0,2.0,1514.0,4.92,0.00,0.0,0.0,27,1
1,1,1,1,2017-01-02,AA,LAS,1705.0,0.0,1514.0,6.26,0.11,0.0,0.0,34,1
2,1,1,2,2017-01-03,AA,LAS,1727.0,22.0,1514.0,10.07,0.00,0.0,0.0,38,1
3,1,1,3,2017-01-04,AA,LAS,1727.0,22.0,1514.0,17.00,0.00,0.0,0.0,18,1
4,1,1,4,2017-01-05,AA,LAS,1703.0,-2.0,1514.0,12.75,0.00,0.0,0.0,9,1
5,1,1,5,2017-01-06,AA,LAS,1701.0,-4.0,1514.0,10.07,0.00,0.0,0.0,4,1
6,1,1,6,2017-01-07,AA,LAS,1954.0,89.0,1514.0,10.74,0.00,0.0,0.0,6,1
7,1,1,7,2017-01-08,AA,LAS,1703.0,-2.0,1514.0,9.62,0.00,0.0,0.0,9,1
8,1,1,1,2017-01-09,AA,LAS,1718.0,13.0,1514.0,12.97,0.02,0.2,0.0,22,1
9,1,1,2,2017-01-10,AA,LAS,1903.0,118.0,1514.0,23.26,0.20,0.0,0.0,38,1

In [2]:
faa.get_modeling_df()

,Quarter,Month,DayOfWeek,Reporting_Airline,Dest,DepTime,DepDelay,Distance,awnd,prcp,snow,snwd,tavg,AA,LAS
0,1,1,7,AA,LAS,1707.0,2.0,1514.0,4.92,0.00,0.0,0.0,27,1,1
1,1,1,1,AA,LAS,1705.0,0.0,1514.0,6.26,0.11,0.0,0.0,34,1,1
2,1,1,2,AA,LAS,1727.0,22.0,1514.0,10.07,0.00,0.0,0.0,38,1,1
3,1,1,3,AA,LAS,1727.0,22.0,1514.0,17.00,0.00,0.0,0.0,18,1,1
4,1,1,4,AA,LAS,1703.0,-2.0,1514.0,12.75,0.00,0.0,0.0,9,1,1
5,1,1,5,AA,LAS,1701.0,-4.0,1514.0,10.07,0.00,0.0,0.0,4,1,1
6,1,1,6,AA,LAS,1954.0,89.0,1514.0,10.74,0.00,0.0,0.0,6,1,1
7,1,1,7,AA,LAS,1703.0,-2.0,1514.0,9.62,0.00,0.0,0.0,9,1,1
8,1,1,1,AA,LAS,1718.0,13.0,1514.0,12.97,0.02,0.2,0.0,22,1,1
9,1,1,2,AA,LAS,1903.0,118.0,1514.0,23.26,0.20,0.0,0.0,38,1,1