In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from FAA import Ohare
from FAA import Hanger
import pandas as pd
from sqlalchemy import create_engine

In [2]:
%time faa = Ohare.Ohare(sql=True, sql_user='bjg', db_name='FLIGHT_TEST')
## Read the database into a dataframe.

CPU times: user 4.21 s, sys: 454 ms, total: 4.67 s
Wall time: 4.94 s

In [4]:
%time Hanger.Hanger.get_airline_departures(faa.flights_from_ohare, return_type='T=not_json')
## Call the static Hanger method.

CPU times: user 238 ms, sys: 13.4 ms, total: 252 ms
Wall time: 251 ms

,Total_Departures,Late_Departures,Avg_Delay,Early_Departures,Avg_Early_Minutes_SVD,Port_Traffic_Share,Percent_Late_Departures
Reporting_Airline,,,,,,,
9E,168,48,32.229167,99,-4.898990,0.333340,0.285714
AA,10787,4653,32.913389,5940,-3.937710,21.403202,0.431353
AS,347,78,40.923077,267,-7.348315,0.688506,0.224784
B6,422,209,69.411483,192,-7.255208,0.837318,0.495261
DL,1239,448,42.535714,782,-4.315857,2.458382,0.361582
EV,3249,931,47.404941,2256,-5.132979,6.446556,0.286550
F9,463,158,72.556962,301,-5.229236,0.918669,0.341253
MQ,4701,1652,33.800847,2918,-2.871487,9.327566,0.351415
NK,1679,551,44.809437,1078,-6.629870,3.331415,0.328172
OH,181,98,58.775510,75,-3.013333,0.359134,0.541436
OO,13523,5044,58.567803,8145,-4.833026,26.831882,0.372994
UA,11952,4224,41.309896,7634,-4.033141,23.714756,0.353414
VX,217,93,29.870968,123,-6.528455,0.430564,0.428571
YX,1471,460,49.713043,958,-4.724426,2.918709,0.312712

In [5]:
len(faa.flights_from_ohare)

50399

In [8]:
import pickle
json_from_srv = None
with open('../data/server_runs/run1.pkl', 'rb') as fl:
    json_from_srv = pickle.load(fl)

server_run = pd.read_json(json_from_srv)

In [10]:
server_run

,Total_Departures,Late_Departures,Avg_Delay,Early_Departures,Avg_Early_Minutes_SVD,Port_Traffic_Share,Percent_Late_Departures
9E,1670,560,59.892857,999,-5.260260,0.306753,0.335329
AA,117170,46600,34.167167,68912,-3.758460,21.522303,0.397713
AS,4700,1473,33.823489,3202,-6.538413,0.863317,0.313404
B6,4575,2349,55.302682,2102,-6.815414,0.840356,0.513443
DL,15567,5778,43.234337,9713,-4.474725,2.859415,0.371170
EV,31220,8494,47.783494,22140,-5.350813,5.734627,0.272069
F9,5392,1918,62.122002,3412,-5.432591,0.990426,0.355712
MQ,49497,13363,34.783058,34537,-3.637896,9.091828,0.269976
NK,17985,5701,48.439572,11883,-6.009425,3.303564,0.316986
OH,1881,706,47.283286,1072,-3.711754,0.345510,0.375332
OO,140053,45425,52.795003,91632,-4.923586,25.725553,0.324341
UA,137855,45569,42.743203,91306,-4.137176,25.321815,0.330557
VX,1706,643,39.925350,1059,-6.288008,0.313366,0.376905
YX,15141,3981,48.741020,10744,-4.847264,2.781166,0.262928

In [9]:
os.getcwd()

'/Users/bjg/Metis/Projects/McNulty/FlightOnTime/notebooks'

          DATE  WJFUELUSGULF
0   2017-01-06         1.539
1   2017-01-13         1.506
2   2017-01-20         1.505
3   2017-01-27         1.513
4   2017-02-03         1.518
5   2017-02-10         1.529
6   2017-02-17         1.552
7   2017-02-24         1.566
8   2017-03-03         1.527
9   2017-03-10         1.485
10  2017-03-17         1.401
11  2017-03-24         1.409
12  2017-03-31         1.450
13  2017-04-07         1.512
14  2017-04-14         1.568
15  2017-04-21         1.511
16  2017-04-28         1.448
17  2017-05-05         1.364
18  2017-05-12         1.369
19  2017-05-19         1.426
20  2017-05-26         1.478
21  2017-06-02         1.404
22  2017-06-09         1.302
23  2017-06-16         1.290
24  2017-06-23         1.255
25  2017-06-30         1.307
26  2017-07-07         1.352
27  2017-07-14         1.361
28  2017-07-21         1.425
29  2017-07-28         1.497
..         ...           ...
74  2018-06-08         2.105
75  2018-06-15         2.097
76  2018-06-22         2.049
77  2018-06-29         2.100
78  2018-07-06         2.112
79  2018-07-13         2.118
80  2018-07-20         2.042
81  2018-07-27         2.110
82  2018-08-03         2.104
83  2018-08-10         2.096
84  2018-08-17         2.076
85  2018-08-24         2.119
86  2018-08-31         2.195
87  2018-09-07         2.183
88  2018-09-14         2.185
89  2018-09-21         2.154
90  2018-09-28         2.235
91  2018-10-05         2.320
92  2018-10-12         2.289
93  2018-10-19         2.234
94  2018-10-26         2.196
95  2018-11-02         2.144
96  2018-11-09         2.098
97  2018-11-16         1.974
98  2018-11-23         1.889
99  2018-11-30         1.755
100 2018-12-07         1.785
101 2018-12-14         1.751
102 2018-12-21         1.666
103 2018-12-28         1.608

[104 rows x 2 columns]

KeyboardInterrupt:

str

,Total_Departures,Late_Departures,Avg_Delay,Early_Departures,Avg_Early_Minutes_SVD,Port_Traffic_Share,Percent_Late_Departures
9E,1670,560,59.892857,999,-5.260260,0.306753,0.335329
AA,117170,46600,34.167167,68912,-3.758460,21.522303,0.397713
AS,4700,1473,33.823489,3202,-6.538413,0.863317,0.313404
B6,4575,2349,55.302682,2102,-6.815414,0.840356,0.513443
DL,15567,5778,43.234337,9713,-4.474725,2.859415,0.371170
EV,31220,8494,47.783494,22140,-5.350813,5.734627,0.272069
F9,5392,1918,62.122002,3412,-5.432591,0.990426,0.355712
MQ,49497,13363,34.783058,34537,-3.637896,9.091828,0.269976
NK,17985,5701,48.439572,11883,-6.009425,3.303564,0.316986
OH,1881,706,47.283286,1072,-3.711754,0.345510,0.375332
OO,140053,45425,52.795003,91632,-4.923586,25.725553,0.324341
UA,137855,45569,42.743203,91306,-4.137176,25.321815,0.330557
VX,1706,643,39.925350,1059,-6.288008,0.313366,0.376905
YX,15141,3981,48.741020,10744,-4.847264,2.781166,0.262928

'/Users/bjg/Metis/Projects/McNulty/FlightOnTime/notebooks'