In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from FAA import Ohare
from FAA import Hanger
import pandas as pd
from sqlalchemy import create_engine

In [3]:
username = 'bjg' # or 'ubuntu'
database_name = 'faa'

params = { 'host': 'localhost',
           'port': 5432
}

connection_string = f'postgres://{username}:{params["host"]}@{params["host"]}:{params["port"]}/{database_name}'

engine = create_engine(connection_string)

In [5]:
pd.read_sql_table('JETFUEL_PRICE', connection_string)

          DATE  WJFUELUSGULF
0   2017-01-06         1.539
1   2017-01-13         1.506
2   2017-01-20         1.505
3   2017-01-27         1.513
4   2017-02-03         1.518
5   2017-02-10         1.529
6   2017-02-17         1.552
7   2017-02-24         1.566
8   2017-03-03         1.527
9   2017-03-10         1.485
10  2017-03-17         1.401
11  2017-03-24         1.409
12  2017-03-31         1.450
13  2017-04-07         1.512
14  2017-04-14         1.568
15  2017-04-21         1.511
16  2017-04-28         1.448
17  2017-05-05         1.364
18  2017-05-12         1.369
19  2017-05-19         1.426
20  2017-05-26         1.478
21  2017-06-02         1.404
22  2017-06-09         1.302
23  2017-06-16         1.290
24  2017-06-23         1.255
25  2017-06-30         1.307
26  2017-07-07         1.352
27  2017-07-14         1.361
28  2017-07-21         1.425
29  2017-07-28         1.497
..         ...           ...
74  2018-06-08         2.105
75  2018-06-15         2.097
76  2018-06-22         2.049
77  2018-06-29         2.100
78  2018-07-06         2.112
79  2018-07-13         2.118
80  2018-07-20         2.042
81  2018-07-27         2.110
82  2018-08-03         2.104
83  2018-08-10         2.096
84  2018-08-17         2.076
85  2018-08-24         2.119
86  2018-08-31         2.195
87  2018-09-07         2.183
88  2018-09-14         2.185
89  2018-09-21         2.154
90  2018-09-28         2.235
91  2018-10-05         2.320
92  2018-10-12         2.289
93  2018-10-19         2.234
94  2018-10-26         2.196
95  2018-11-02         2.144
96  2018-11-09         2.098
97  2018-11-16         1.974
98  2018-11-23         1.889
99  2018-11-30         1.755
100 2018-12-07         1.785
101 2018-12-14         1.751
102 2018-12-21         1.666
103 2018-12-28         1.608

[104 rows x 2 columns]

In [3]:
faa = Ohare.Ohare(sql=True)
Hanger.Hanger.get_airline_departures(faa.flights_from_ohare)


## Read the database into a dataframe. 
## Call the static Hanger method.

In [9]:
type(Hanger.Hanger.get_airline_departures(faa.flights_from_ohare))

str

In [5]:
pd.read_json(Hanger.Hanger.get_airline_departures(faa.flights_from_ohare))

,Total_Departures,Late_Departures,Avg_Delay,Early_Departures,Avg_Early_Minutes_SVD,Port_Traffic_Share,Percent_Late_Departures
9E,1670,560,59.892857,999,-5.260260,0.306753,0.335329
AA,117170,46600,34.167167,68912,-3.758460,21.522303,0.397713
AS,4700,1473,33.823489,3202,-6.538413,0.863317,0.313404
B6,4575,2349,55.302682,2102,-6.815414,0.840356,0.513443
DL,15567,5778,43.234337,9713,-4.474725,2.859415,0.371170
EV,31220,8494,47.783494,22140,-5.350813,5.734627,0.272069
F9,5392,1918,62.122002,3412,-5.432591,0.990426,0.355712
MQ,49497,13363,34.783058,34537,-3.637896,9.091828,0.269976
NK,17985,5701,48.439572,11883,-6.009425,3.303564,0.316986
OH,1881,706,47.283286,1072,-3.711754,0.345510,0.375332
OO,140053,45425,52.795003,91632,-4.923586,25.725553,0.324341
UA,137855,45569,42.743203,91306,-4.137176,25.321815,0.330557
VX,1706,643,39.925350,1059,-6.288008,0.313366,0.376905
YX,15141,3981,48.741020,10744,-4.847264,2.781166,0.262928

In [6]:
os.getcwd()

'/Users/bjg/Metis/Projects/McNulty/FlightOnTime/notebooks'

In [7]:
df = pd.read_json(Hanger.Hanger.get_airline_departures(faa.flights_from_ohare))

In [8]:
df.to_json('test.json')